<app-template-full-width *ngIf="title" [title]="title">
  <button (click)="changeTitle()">change title</button>
  <!-- {{ collection | json }} -->
  <app-table-light [headers]="headers" *ngIf="collection$ | async as collection">
    <tr *ngFor="let item of collection">
      <td>
        <app-icon-edit (click)="goToEdit(item.id)"></app-icon-edit>
        <app-icon-delete (click)="deleteItem(item.id)"></app-icon-delete>
        <app-icon-info (click)="getInfoItem(item.id)"></app-icon-info>
      </td>
      <td>{{ item.typePresta }}</td>
      <td>{{ item.client | uppercase }}</td>
      <td>{{ item.nbJours }}</td>
      <td>{{ item.tjmHt | currency }}</td>
      <td>{{ item.tjmHt | total: item.nbJours | currency }}</td>
      <td>{{ item.tjmHt | total: item.nbJours: item.tva | currency }}</td>
      <td [appState]="item.state">
        <select (change)="changeState(item, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}
          </option>
        </select>
      </td>
    </tr>
  </app-table-light>
  <app-btn route="add" text="Add order"></app-btn>

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="detail" routerLinkActive="active">Détail</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="comment" routerLinkActive="active">Comment</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
  <!-- ici que le router ajoute app-detail ou app-comment -->
</app-template-full-width>
