<header class="fixed-top">

  <!-- transclusion : projection d'un icon -->
  <span *ngIf="open" (click)="toggle()">
    <ng-content select=".tr-icon-close"></ng-content>
  </span>
  <span *ngIf="!open" (click)="toggle()">
    <ng-content select=".tr-icon-open"></ng-content>
  </span>

  <!-- transclusion : projection de header component html -->
  <ng-content select=".tr-header"></ng-content>

</header>
<main [ngClass]="{'close-aside': !open}">

  <div class="shadow position-fixed" (click)="open = false">

  </div>

  <aside>
    <div class="scroller">
      <!-- transclusion : projection de nav component html -->
      <ng-content select=".tr-nav"></ng-content>
    </div>
  </aside>

  <div class="page">

    <div class="contents">

      <!-- transclusion : projection d'un dynamic component html -->
      <ng-content select=".tr-content"></ng-content>

    </div>

    <footer>
      <!-- transclusion : projection de footer component html -->
      <ng-content select=".tr-footer"></ng-content>
    </footer>

  </div>
</main>
